.plan{
    max-width: 393px;
    height: 662px;
    /* background-color: #fff; */
    position: relative;
    color: blue;
    padding-top: 10px;
    position: relative;
    z-index: 1;

}
.plan.planS_one::after ,.plan.planS_two::after,.plan.planS_three::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
     border-radius: 20px;
     z-index: -1;
}
.plan.planS_one::after{
transform: perspective(500px) rotateX(4deg);
}
.plan.planS_two::after{
    transform: perspective(500px) rotateX(-4deg);
    margin-top: 2rem;
}
.plan.planS_three::after{
      transform: perspective(500px) rotateX(4deg);
}
.choosePlan .h1{
    margin: 5rem 0;
}
.plan .img {
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);

}
.plan-inner{
    width: 70%;
    margin-top: 7rem;
}
.plan-inner .vector{
    width: 28px;
    height: 28px;
}
.plan-inner button{

    width: 186.19px;
    height: 55.8px;
    /* background: linear-gradient(181.68deg, #FFFFFF -2.86%, rgba(255, 255, 255, 0) 56.7%) !important; */
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    transform: matrix(1, -0.03, 0.02, 1, 0, 0);
    margin-top: 1rem;
}
.plan-inner .plan-text{
    margin: 2rem 0;
}
@media only screen and (max-width: 1400px) {
   
    .plan-inner h1{
        font-size: 2rem;
    }
  }
  @media only screen and (max-width: 1200px) {
   
    .plan-inner .plan-text-p{
        font-size: 0.8rem;
    }
  }