@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.main{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg,purple, #0984e3,purple);
  padding: 0 10px;
  overflow-x: hidden;
/* overflow-wrap: break-word; */
}